<fieldset class="form-group">
    <label for="search">Search</label>
    <input [(ngModel)]="query" class="form-control" id="search"  autocomplete="off">

</fieldset>
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1>Items</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-3" *ngFor="let itemEl of items | itemfilter:query; let i = index">
                <div class="card mb-3">
                    <div class="card-header card-warning" style="height: 80px;">
                        {{itemEl.name}} </div>
                    <!--<div class="card-block" style="height: 120px;">
                        {{itemEl.description}}
                    </div>-->
                    <a (click)="open(content,itemEl.itemId)" class="btn btn-default">Add to cart</a>
                </div>

            </div>


        </div>
    </div>


</div>

                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Quantity</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');clearQuantity();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <form [formGroup]="createOrderForm">

                        <fieldset class="form-group">
                            
                            <input class="form-control" id="quantity" formControlName="quantity" autocomplete="off">
                            <br>
                            <button type="button"  class="btn btn-danger" (click)="onSubmit(itemId);d('Cross click');">Add to Cart</button>
                        </fieldset>
                           
                    


                    </form>
                </div>
                </ng-template>
            