
<div class="row">
  <div class="col-xs-12">
    <h1>{{ order?.name }}</h1>
  </div>
</div>
<div class="row">
        <div class="col-xs-12">
          {{ order?.description }}
        </div>
      </div>
<div class="row">
  <div class="col-xs-12">

      <button
        type="button"
        class="btn btn-primary"
        (click)="onEditOrder()">
        Edit Order
      </button>
      <button
      type="button"
      class="btn btn-primary"
      (click)="onDeleteOrder()">
      Delete Order
    </button>


  </div>
</div>


