
<div class="row">
  <div class="col-xs-12">
    <h1>{{ item?.name }}</h1>
  </div>
</div>
<div class="row">
        <div class="col-xs-12">
          {{ item?.description }}
        </div>
      </div>
<div class="row">
  <div class="col-xs-12">

      <button
        type="button"
        class="btn btn-primary"
        (click)="onEditItem()">
        Edit Item
      </button>
      <button
      type="button"
      class="btn btn-primary"
      (click)="onDeleteItem()">
      Delete Item
    </button>


  </div>
</div>


