
<div class="row">


  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-12">
        <div class="card-header">Orders</div>
        <div class="card-block table-responsive">

                <table class="table">
                        <thead class="thead-default">
                        <tr>
                            
                            <th>Status</th>
                            <th>Date Initialized</th>
                        </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let orderEl of orders | statusfilter:'cart' ; let i = index" style="cursor: pointer;"
                                [routerLink]="[orderEl.orderId]"
                                routerLinkActive="table-warning"                        >
                                    
                                    <td>{{ orderEl.status }}</td>
                                    <td>{{orderEl.dateInitialized}}</td>
                                </tr>
        
        
                        </tbody>
                    </table>

                <table class="table">
                        <thead class="thead-default">
                        <tr>
                           
                            <th>Status</th>
                            <th>Date Initialized</th>
                        </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let orderEl of orders | statusfilter:'sent' ; let i = index" style="cursor: pointer;"
                                [routerLink]="[orderEl.orderId]"
                                routerLinkActive="table-warning"                        >
                                   
                                    <td>{{ orderEl.status }}</td>
                                    <td>{{orderEl.dateInitialized}}</td>
                                </tr>
        
        
                        </tbody>
                    </table>
            <table class="table">
                <thead class="thead-default">
                <tr>
                    
                    <th>Status</th>
                    <th>Date Initialized</th>
                </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let orderEl of orders | statusfilter:'finished' ; let i = index" style="cursor: pointer;"
                        [routerLink]="[orderEl.orderId]"
                        routerLinkActive="table-warning"                        >
                            
                            <td>{{ orderEl.status }}</td>
                            <td>{{orderEl.dateInitialized}}</td>
                        </tr>


                </tbody>
            </table>


        </div>
    </div>

</div>
</div>
