<form [formGroup]="orderDetailForm" (ngSubmit)="onOrderDetailClick()">
    <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!orderDetailForm.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
                    <fieldset class="form-group">
                            <label for="quantityDistributor">Quantity Available</label>
                            <input class="form-control"
                            id="quantityDistributor"
                            formControlName="quantityDistributor">

                        </fieldset>


</form>

<div class="row">
  <div class="col col-xl-12 col-lg-12">
      <div class="card mb-12">
          <div class="card-header">Order details</div>
          <div class="card-block table-responsive">
  
              <table class="table">
                  <thead class="thead-default">
                  <tr>
                      <th>#</th>
                      <th>Item Name</th>
                      <th>Quantity</th>
                      <th>Quantity Distributor</th>
                  </tr>
                  </thead>
                  <tbody>
                          <tr *ngFor="let orderDetailEl of orderDetails; let i = index" style="cursor: pointer;"
                          (click)="initForm(orderDetailEl)"
                          routerLinkActive="table-warning"                        >
                              <th scope="row">1</th>
                              <td>{{ orderDetailEl.itemName }}</td>
                              <td>{{ orderDetailEl.quantity }}</td>
                              <td>{{orderDetailEl.quantityDistributor}}</td>
                          </tr>
  
  
                  </tbody>
              </table>
          </div>
      </div>
  
  </div>
  </div>



