
<div class="row">
  <div class="col-xs-12">
    <h1>{{ orderDetailHistory?.orderDetailId }}</h1>
  </div>
</div>
<div class="row">
        <div class="col-xs-12">
          {{ orderDetailHistory?.orderId }}
        </div>
      </div>
<div class="row">
  <div class="col-xs-12">

      <button
        type="button"
        class="btn btn-primary"
        (click)="onEditOrderDetailHistory()">
        Edit Order Detail
      </button>
      <button
      type="button"
      class="btn btn-primary"
      (click)="onDeleteOrderDetailHistory()">
      Delete Order Detail history
    </button>


  </div>
</div>


