<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewOrderDetailHistory()">New Order Detail</button>
  </div>
</div>
<hr>
<div class="row">


  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-12">
        <div class="card-header">Order Detail Histories</div>
        <div class="card-block table-responsive">

            <table class="table">
                <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>Order Detail History Id</th>
                    <th>Order Detail Id</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let orderEl of orderDetailHistories; let i = index" style="cursor: pointer;"
                        [routerLink]="[orderEl.orderDetailHistoryId]"
                        routerLinkActive="table-warning"                        >
                            <th scope="row">1</th>
                            <td>{{ orderEl.orderDetailHistoryId }}</td>
                            <td>{{ orderEl.orderDetailId }}</td>
                            <td>{{orderEl.status}}</td>
                        </tr>


                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
