<div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-edit'" [label]="'Create order!'" (click)="goToCreateOrder()" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-list-alt'" [label]="'All orders!'" (click)="goToAllOrders()" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-shopping-cart'" [label]="'Cart!'" (click)="goToCart()" ></app-stat>
        </div>
    </div>