<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a *ngIf="this.user.type=='admin'" routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' }}
        </a>
        <a  *ngIf="this.user.type=='retailer'" routerLink="/dashboard-retailer" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' }}
        </a>
        <a  *ngIf="this.user.type=='distributor'" routerLink="/dashboard-distributor" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' }}
        </a>
        <a *ngIf="this.user.type=='manufacturer'" routerLink="/dashboard-manufacturer" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' }}
        </a>

        <a  *ngIf="this.user.type=='retailer'" routerLink="/create-order" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Create order' }}
        </a>
        <a  *ngIf="this.user.type=='admin'" routerLink="/orders" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list-alt"></i>&nbsp;{{ 'Orders' }}
        </a>

        <a  *ngIf="this.user.type=='retailer'" routerLink="/all-orders" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list-alt"></i>&nbsp;{{ 'All Orders' }}
        </a>

        <a  *ngIf="this.user.type=='distributor'" routerLink="/all-orders-distributor" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list-alt"></i>&nbsp;{{ 'All Orders' }}
        </a>


        <a *ngIf="this.user.type=='manufacturer'"  routerLink="/all-orders-manufacturer" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'All Orders' }}
        </a>
        <a *ngIf="this.user.type=='admin'"  routerLink="/order-details" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Order Details' }}
        </a>
        <a  *ngIf="this.user.type=='admin'" routerLink="/order-detail-histories" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Order Detail History' }}
        </a>
        <a  *ngIf="this.user.type=='retailer'" routerLink="/cart" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-shopping-cart"></i>&nbsp;{{ 'Cart' }}
        </a>
        <a  *ngIf="this.user.type=='distributor' || this.user.type=='manufacturer'  || this.user.type=='admin'" routerLink="/items" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list-ul"></i>&nbsp;{{ 'Items' }}
        </a>
    </ul>
</nav>
